.bakucores-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }

  .bakucore-text {
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    font-weight: bold;
    font-size: 10px;
}

  .bakucore-card {
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .bakucore-card:hover {
    transform: scale(1.07);
    box-shadow: 0 0 20px rgba(255, 150, 0, 0.5);
  }
  
  .bakucore{
    width: 100px;
  }
  